<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>New Tab</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

        <ul id="background"></ul>

        <div id="widgets">
            <div id="top-left"><div id="app-return"><a href="" id="app-return" class="top-nav">Apps</a></div></div>
            <div id="top-right"></div>
            <div id="center-above"></div>
            <div id="center"></div>
            <div id="center-below"></div>
            <div id="bottom"></div>
            <div id="bottom-right"></div>
            <div id="bottom-left"></div>
        </div>

        <!-- Handlesbars Templates (Move to external files) -->
        <script id="message-template" type="text/x-handlebars-template">
            <h4>{{title}}</h4>
            <p>
                <span class="message">{{message}}</span>
            </p>
            <a href="" class="hide"><span>✕</span></a>
        </script>

        <script id="weather-template" type="text/x-handlebars-template">
            <div class="metric-stat">
                <span class="icon" data-icon="{{code}}" title="{{condition}}"></span>{{temperature}}&deg;<span class="unit {{unitClass}}">{{unit}}</span>
            </div>
            <span class="location metric-label data">{{location}}</span>
        </script>

        <script id="todo-template" type="text/x-handlebars-template">
            <div class="todo-list">
                <div class="todo-list-header">
                    <a href="" class="todo-toggle todo-close">✕</a>
                    <div id="todo-count"></div>
                </div>
                <ol>
                </ol>
                <input id="todo-new" class="todo-input" type="text" placeholder="New todo">
            </div>
            <span id="todo-remaining"></span>
            <!--<a href="" id="clear-completed">archive done</a>-->
            <a class="todo-toggle top-nav" href="">Todo</a>
        </script>

        <script id="todo-item-template" type="text/x-handlebars-template">
            <div class="view">
                <a class="destroy">✕</a>
                <label><input class="toggle" type="checkbox" {{checked}}></label><span>{{title}}</span>
            </div>
            <input class="edit todo-input" type="text" value="{{title}}">
        </script>

        <script id="todo-complete-template" type="text/x-handlebars-template">
            <span class="metric-stat">{{done}}</span>
            <span class="metric-label">{{item}} complete</span>
        </script>

        <script id="focuses-template" type="text/x-handlebars-template">
            <ol></ol>
        </script>

        <script id="focus-prompt-template" type="text/x-handlebars-template">
            <h3>What is your main focus for today?</h3>
            <input type="text">
        </script>

        <script id="focus-template" type="text/x-handlebars-template">
            <h3>{{day}}</h3>
            <p class="todays-focus">{{focus}}<span class="delete">✕</span></p>
        </script>

        <script id="background-template" type="text/x-handlebars-template">
            <li style="background-image: url('backgrounds/{{filename}}')"></li>
        </script>

        <script id="background-info-template" type="text/x-handlebars-template">
            <span class="title">{{title}}</span>
            {{#if sourceUrl}}
                <span class="source"><a href="{{sourceUrl}}">{{source}}</a></span>
            {{else}}
                <span class="source">{{source}}</span>
            {{/if}}
       </script>

        <script id="centerclock-template" type="text/x-handlebars-template">
            <h1 class="time">{{time}}</h1>
            <span class="format">AM</span>
        </script>

        <script id="greeting-template" type="text/x-handlebars-template">
          <h2>Good <span class="period">{{period}}</span>, <span class="name">{{name}}</span>.</h2>
        </script>

        <script id="shortquote-template" type="text/x-handlebars-template">
            <p class="light">{{body}}</p>
        </script>

        <script id="introduction-template" type="text/x-handlebars-template">
            <p class="logo"><img src="img/logo-white.png"></p>
            <p><span>Hello, what&#8217;s your name?</span> <input type="text"></p>
        </script>

        <!-- Libraries -->
        <script src="js/jquery.min.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/backbone-min.js"></script>
        <script src="js/backbone.localStorage-min.js"></script>
        <script src="js/handlebars.js"></script>

        <!-- App -->
        <script src="app/app.js"></script>
        <script src="app/background.js"></script>
        <script src="app/quote.js"></script>
        <script src="app/focus.js"></script>
        <script src="app/todo.js"></script>
        <script src="app/weather.js"></script>
        <script src="app/message.js"></script>
        <script src="app/main.js"></script>

    </body>
</html>
